<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/bootstrap-icons/font/bootstrap-icons.css")" rel="stylesheet"/>
    <style>
        nav#hearder-nav {
            padding: 0px;
        }
        div.box {
            height: 40px;
        }
        .ic-f{
            margin:0 10px;
        }
        .cach {
            margin-left: 40px;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="hearder-nav">
        <div class="container-fluid bg-body">
            <a class="navbar-brand" href="@Url.Action("index","Home")">
                <img src="@Url.Content("~/Content/Images/logo_ghkn.png")" alt="logo" width="170" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown" style="margin-left:20px">
                        <a class="nav-link" href="#" role="button">Giới thiệu</a>
                    </li>
                    
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div style="height:80px"></div>
    <div>
        <nav class="nav justify-content-center bg-primary">
            <a class="nav-link link-light cach" href="@Url.Action("allProduct","Product")">Sản phẩm</a>
            <a class="nav-link link-light cach" href="#">Liên hệ</a>
            <a class="nav-link link-light cach" href="#">Phản hồi</a>
            <a class="nav-link link-light cach" href="#">Thông tin khác</a>
        </nav>
    </div>
    <div>
        @RenderBody()
        <footer class="bg-primary text-white text-center text-lg-start">
            <!-- Grid container -->
            <div class="p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Thông tin về gian hàng khởi nghiệp TVU</h5>

                        <p>
                            Địa chỉ tham quan và mua sắm các sản phẩm: Khu I, Trường Đại học Trà Vinh (Đối diện nhà xe Khu I, TVU) – 126 Nguyễn Thiện Thành, khóm 4, phường 5, Tp. Trà Vinh.
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Tư vấn & đặt hàng:</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#!" class="text-white">Sđt (Zalo): 0379237957</a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/cuahangthanhnienkhoinghiepTVU" class="text-white">Fanpage</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Vị trí</h5>
                        <br />
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d744.6199622362753!2d106.3469393255872!3d9.923297786043495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a019e1fbb089f5%3A0x7d43723e5b6613af!2zS2h1IGhpw6rMo3UgYsO0zKMsIDEyNiDEkC4gTmd1eeG7hW4gxJDDoW5nLCBQaMaw4budbmcgNSwgVHLDoCBWaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1700139058159!5m2!1svi!2s" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © @DateTime.Now.Year.ToString()
                <a class="text-white" href="https://mdbootstrap.com/">vinh</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
