@model List<DoAnCoSo.Models.USER>
@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
    int dem = 0;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/bootstrap-grid.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-icons/font/bootstrap-icons.css")" rel="stylesheet" />
    <style>
        body{
            background-color:#9F9DA7;
        }
        #khung{
            margin-top:20px;
            background-color:white;
            width: 35vw;
            height:450px;
            border-radius:5px;
            text-align:center;
        }
        h2{
            margin:40px;
            font-family:sans-serif;
            font-size:40px;
            color:#2B3E51;
            font-weight:unset;
        }
        input{
          width:60%;
          height:60px;
          border-radius:5px;
          border:1px solid #ccc;
          padding-left:10px;
        }
        ::placeholder {
            font-size:15px;
        }
        button{
            width:63%;
            height:60px;
            background-color:#0D6EFD;
            border:1px solid #ccc;
            color:white;
            font-weight:bold;
            font-size:18px;
        }
        button:hover {
            opacity:0.8;
        }
    </style>
</head>
<body class="d-flex justify-content-center">
    <div id="khung" class="text-center">
        <form action="@Url.Action("Index", "Home")">
            <h2>Login</h2>
            <div>
                <div style="margin-bottom:20px">
                    <input placeholder="Username" />
                </div>
                <div style="margin-bottom:20px">
                    <input placeholder="Password" type="password" />
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <p>Không có tài khoản?<a href="#"> Đăng kí tài khoản</a></p>
            </div>
        </form>
    </div>
</body>
</html>
<script>
    const button = document.querySelector('button')
    const input = document.querySelectorAll('input')
    function validateForm() {
        for (let i = 0; i <@Model.Count; i++) {
            console.log("@Model[dem].TaiKhoan")
        }
    }
    validateForm()
</script>